PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/iot_commercial
SESSION_SECRET=your_super_secret_key_here_change_this
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_gmail_app_password
MQTT_BROKER=mqtt://192.168.1.2
OTP_EXPIRE_MINUTES=10
